<%= title "movie night ##{@movie_night}" %>

<div class="span-16">
  <h2>add participant</h2>

  <% remote_form_for :query, @query, 
    :url => search_movie_night_path,
    :loading => "Element.show('spinner')",
    :complete => "Element.hide('spinner')" do |f| %>

    <%= f.text_field :body, :class => "text" %>
    <%= f.submit 'Sök', :class => "submit" %>
    <img src="/images/spinner.gif" style="display: none; border:none; margin-bottom: -0.5em;" id="spinner" alt="" />
  <% end %>
  <script type="text/javascript" charset="utf-8">
    $('query_body').activate()
  </script>

  <ul id="prospects">
  </ul>

</div>

<div class="span-8 last">
  <h2>participants</h2>

  <ul id="participants">
  <%= render :partial => "participant", :collection => @movie_night.participants,
        :locals => { :movie_night => @movie_night }%>
  </ul>
</div>

<div class="span-24">
  <!-- movies to watch -->
  <div id="movies_towatch">
    <%= render :partial => "towatch", :locals => { :movies => @movie_night.movies_towatch } %>
  </div>

  <!-- movies seen -->
  <div id="movies_seen">
    <%= render :partial => "seen", :locals => { :movie_night => @movie_night } %>
  </div>
</div>