<% unless @users.empty? -%>
<strong>who:</strong >
  <% for user in @users -%>
    <% if user != @users.last && user != @users[-2] -%>
      <%= user %>,
    <% elsif user == @users[-2] -%>
      <%= user %>
    <% else -%>
      and <%= user %>
    <% end -%>
  <% end -%>
</p>
<% end -%>


<% remote_form_for :query, @query, 
  :url => search_movie_night_path,
  :loading => "Element.show('spinner')",
  :complete => "Element.hide('spinner')" do |f| %>

  <%= f.text_field :body, :class => "text" %>
  <%= f.submit 'Sök', :class => "submit" %>
  <img src="/images/spinner.gif" style="display: none; border:none; margin-bottom: -0.5em;" id="spinner" alt="" />

<% end %>



<p>
  url_for: 
  <%#= url = url_for(user_seen_index_path(current_user)) %>
  <%= url = url_for({}) %>
<p>
  current_page:
  <%= current_page?(url) %>
</p>

<% unless movie_night.participants.empty? -%>
<strong>participants:</strong >
  <% for user in movie_night.participants -%>
  
    <%# First %>
    <% if user == movie_night.participants.first -%>
      <%= user %>

    <%# Neither last or second last %>
    <% elsif user != movie_night.participants.last && user != movie_night.participants[-2] -%>
      <%= user %>,

    <%# Second last %>
    <% elsif user == movie_night.participants[-2] -%>
      and <%= user %>

    <%# Last %>
    <% elsif user == movie_night.participants.last -%>
      <%= user %>

    <% else -%>
      <%= user %>

    <% end -%>
  <% end -%>