<% unless logged_in? %>
  <%= title "Login" %>
  
  <% form_tag session_path do %>

    <%= label_tag 'login', 'Username' %><br />
    <%= text_field_tag 'login', @login, :class => "text" %><br />
    
    <%= label_tag 'password' %><br />
    <%= password_field_tag 'password', nil, :class => "text" %><br />
    
    <%= label_tag 'remember_me', 'Remember me' %>
    <%= check_box_tag 'remember_me', '1', @remember_me %>
    
    <div class="buttons">
    	<%= submit_tag 'Login' %>
    	<%= link_to 'Forgotten Password', forgot_password_path %>
    </div>
  <% end -%>
<% end %>
