<% unless logged_in? %>
  <%= title "log in" %>
  
  <% form_tag session_path do %>

    <p><%= label_tag 'login', 'username' %></p>
    <p><%= text_field_tag 'login', @login, :class => "text" %></p>
    
    <p><%= label_tag 'password', 'password' %></p>
    <p><%= password_field_tag 'password', nil, :class => "text" %></p>
    
    <p>
      <%= label_tag 'remember_me', 'remember me' %>
      <%= check_box_tag 'remember_me', '1', @remember_me %>
    </p>
    
  	<p>
  	  <%= submit_tag 'Log in' %>
    </p>
  <% end -%>
<% end %>

<p style="margin-top: 10px;"><%= link_to 'Forgot Your Password?', forgot_password_path %></p>
