<%= title 'Add movie' %>

<% form_for(@movie) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :imdb_url, 'IMDB URL' %><br />
    <%= f.text_field :imdb_url, :class => "text" %>
  </p>
  <p>
    <%= f.submit "Add", :class => "submit" %>
  </p>
<% end %>