<%= title "Forgot Your Password?" %>
<% form_for @password do |f| %>
  <%= f.error_messages %>

    <p><%= f.label :email, 'enter your email address' %></p>
		<p><%= f.text_field :email, :class => "text" %></p>
  	<p><%= f.submit "Submit" %></p>

<% end %>

