<h1>New to_watch_movie</h1>

<% form_for(@to_watch_movie) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :movie_id %><br />
    <%= f.text_field :movie_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', to_watch_movies_path %>
